.badges {
  // background-color: transparent;
  margin: 0 auto;
  padding: 0;
  color:black;
  border: 1px solid #dcdcdc;
  border-radius: 1.5em;
  width: 800px !important;
  display: flex !important;
  justify-content: center !important;
  flex-wrap: wrap !important;
  overflow: hidden;
  // padding: 1.5em;
  word-wrap: break-word;
    white-space: normal;
  &-left {
    /* border: 1px solid #eee;
    border-radius: 1em; */
    align-self: center;
    .username {
      font-size: 1.2em;
      font-weight: bold;
      margin: 1em;
      text-align: center;
    }
    svg {
      display: block;
      margin: 0 auto;
      align-self: center;
    }
  }
  &-right {
    word-wrap: break-word;
   /*  position: relative;
    z-index: 1000; */
    border-radius: 1.5em;
    // right: -1em;
    color: white;
    background-color: #183459;
    align-self: center;
    padding: 1em 0;
    p {
      font-size: .85em;
      margin: 1em;
      text-align: left;
    }
  }
}

/* Icono sidebar */
.container-svg {
  box-sizing: border-box;
}

.label-check {
  display: none;
}

.hamburger-label {
  width: 40px;
  height: 58px;
  display: block;
  cursor: pointer;
}

.hamburger-label div {
  width: 40px;
  height: 6px;
  background-color: #004dc1;
  position: absolute;
}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 14px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 30px 0 0 0;
  transition: 0.3s;
}

#label-check:checked + .hamburger-label .line1 {
  transform: rotate(35deg) scaleX(.55) translate(39px, -4.5px);
  border-radius: 50px 50px 50px 0;
}

#label-check:checked + .hamburger-label .line3 {
  transform: rotate(-35deg) scaleX(.55) translate(39px, 4.5px);
  border-radius: 0 50px 50px 50px;
}

#label-check:checked + .hamburger-label .line2 {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 45px;
}

@media screen and (max-width: 768px) {
  .badge {
    width: 100%;
    &-left {
      display: none;
    }
  }
}